@font-face {
  font-family: "NT-Somic";
  src: url("../../fonts/Webfonts/NTSomic-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NT-Somic";
  src: url("../../fonts/Webfonts/NTSomic-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "NT-Somic";
  src: url("../../fonts/Webfonts/NTSomic-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
